DOUBAO_APP_ID=
DOUBAO_ACCESS_TOKEN=
DOUBAO_ASR_APP_ID=
DOUBAO_ASR_ACCESS_TOKEN=
DOUBAO_ASR_RESOURCE_ID=volc.seedasr.sauc.duration

AUDIO_DEVICE=default
AUDIO_SAMPLE_RATE=16000
AUDIO_FORMAT=pcm
AUDIO_CODEC=raw

ASR_PUSH_URL=http://127.0.0.1:8000/api/asr/update
ASR_PUSH_CLIENT_ID=local_asr
ASR_PUSH_ONLY_FINAL=1
ASR_ALLOW_PARTIAL_FALLBACK=0
ASR_FINAL_FALLBACK_SECONDS=0.8
ASR_PUSH_SENTENCE_END_FAST=1
VOICE_STANDBY_ENABLED=1
VOICE_DEFAULT_MODE=standby
VOICE_WAKE_WORDS=小爱,小艾,你好小爱
VOICE_AWAKE_TIMEOUT_SECONDS=15
VOICE_SLEEP_WORDS=进入待机,休眠,关闭语音助手
VOICE_WAKE_REPLY=我在
VOICE_SLEEP_REPLY=已进入待机
BARGE_IN_ENABLED=1
BARGE_IN_RMS_THRESHOLD=2200
BARGE_IN_HOLD_MS=300
BARGE_IN_GRACE_MS=300

AUDIO_PLAYBACK_DEVICE=default
TTS_VOICE=zh-CN-XiaoxiaoNeural
USE_VOLC_TTS_V3=1
VOLC_TTS_APPID=
VOLC_TTS_ACCESS_TOKEN=
VOLC_TTS_ACCESS_KEY=
VOLC_TTS_RESOURCE_ID=seed-tts-2.0
VOLC_TTS_VOICE_TYPE=zh_female_vv_uranus_bigtts
VOLC_TTS_V3_API_URL=wss://openspeech.bytedance.com/api/v3/tts/bidirection
