fastapi
uvicorn[standard]
python-socketio
aiohttp
aiohttp_cors
python-multipart
requests
httpx
numpy
opencv-python-headless
pydantic
pyserial
dashscope
openai
paramiko
aiortc
passlib
jinja2
PyJWT
websockets==10.4
